html, body {
    margin: 0;
    padding: 0;
    width: 500px;
  }  

  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #fff;
    color: #333;
  }
  
  h1 {
    font-size: 22px;
    color: #005a9c; 
  }
  
  h2 {
    font-size: 16px;
    color: #007acc;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: #007acc;
  }
  